// variable
$tuva-primary: #49afbc;
$primary-border: #eee;
$sm-padding: 15px;
$lg-padding: 20px;

.App {
  text-align: center;
  padding: $sm-padding;
}

.tuva-editor-toolbar {

  ul,
  ol,
  li {
    list-style: none;

    button {
      padding: 10px;
      border-color: $primary-border;
      box-shadow: 2px 2px 3px $primary-border;
    }
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
}

.tuva-container {
  display: flex;
  align-items: normal;
  justify-content: center;
}

.tuva-editor-container {
  display: flex;
  flex-direction: column;
}

// .tuva-editor-toolbar, .tuva-container{
//   margin: 0 10%;
// }

.tuva-editor,
.preview {
  padding: $lg-padding;
  border: 2px solid $primary-border;
  text-align: left;
  word-break: break-all;
  min-height: calc(100vh - 120px);
}

.preview,
.tuva-editor-container {
  width: calc(50% - #{$sm-padding});
}

.tuva-editor {
  width: calc(100% - #{2 * $lg-padding});
  height: 100%;
  display:inline-block;
  &:focus {
    outline: none;
  }
}

.tuva-editor-toolbar {
  padding: 0;
  border: 1px solid $primary-border;

  button {
    &:hover {
      cursor: pointer;
    }
    &.active {
      path {
        fill: $tuva-primary;
      }
    }

    svg {
      height: 15px;
      width: 15px;
    }

    &:active {
      svg {
        fill: red;
      }
    }
  }
}


.preview {
  p,h1,h2,h3 {
    margin: 0;
  }
}